@import 'utilities.css';
:root{
    --primary:#8504fd;
    --dark:#151515;
    --pure:#FFFFFF;
    --ternary:#898989;
    --light:#F2F2F2;
    --secondary:#070606;
}

body{
    font-family:'Poppins',sans-serif;
}

html{
    scroll-behavior: smooth;
}
*{
    padding: 0;
    margin:0;
    box-sizing: border-box;
    -webkit-font-smoothing:antialiased;
}
header{
    background: var(--dark);
    /* clip-path:polygon(0 0, 100% 0, 100% 100%, 70% 87%, 0 100%); */
}
.container{
    max-width:1152px;
    padding:0 15px;
    margin:0 auto;
}









@media (min-width: 576px) {
    .container {
        max-width: 540px;
      }
  }
  
  @media (min-width: 768px) {
    .container {
      max-width: 720px;
    }
  }
  
  @media (min-width: 992px) {
    .container {
      max-width: 960px;
    }
  }
  
  @media (min-width: 1200px) {
    .container {
      max-width: 1151px;
    }
  }

header nav .left a{
    color:var(--pure);
    text-decoration: none;
    margin-right:2rem;
    text-transform:uppercase;
    transition:all .3s ease;
    -webkit-transition:all .3s ease;
    -moz-transition:all .3s ease;
    -ms-transition:all .3s ease;
    -o-transition:all .3s ease;
    
}
header nav .left a:hover{
    color:var(--primary);
}
header nav {
    padding:2rem 0;
}
header nav .branding{
    margin-right:3rem;
}
.hero{
    padding:3rem 0;
}
.hero .left img{
    width:400px;
}
.hero .right{
    color:var(--pure);
}
.hero .right h6{
    font-size:1.6rem;
    color:var(--primary);
    margin-bottom:0.5rem;
}
.hero .right h1{
    font-size:4rem;
    font-weight:100;
    line-height:1.2;
    margin-bottom:2rem;
}
.hero .right h1 span{
    color:var(--primary);
}
.hero .right p{
    line-height:1.9;
    margin-bottom:2rem;
}
.hero .right {
    margin-top:-7rem;
}
#s{
    
    margin-top: -80px;
    margin-bottom: -80px;
}
section{
    padding:6rem 0;
}

section.about .about-me-img{
    height:450px;
}
section.about h1{
    margin-bottom: 1rem;
    font-size:1.6rem;
    font-weight:400;
}
section.about h1 span{
    color:var(--primary);
}
section.about h3{
    font-size: 1rem;
    margin-bottom:1rem;
    font-weight: 400;
}

section.about p{
    font-family:'Lato', sans-serif;
    color:var(--ternary);
    line-height: 1.8;
    margin-bottom:2rem;
}
section.about .social{
    display:flex;
}
section.about .social a{
    background:var(--dark);
    display:flex;
    align-items:center;
    justify-content:center;
    width:35px;
    height:35px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    margin-right:0.6rem;
    transition: all .3s ease;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -ms-transition: all .3s ease;
    -o-transition: all .3s ease;
}
section.about .social a:hover{
    background:var(--primary);
}
section.about .social a img{
    width:100%;
    height:100%;
    padding:0.5rem;
}

.section-heading{
   color:var(--secondary); 
   text-align: center;
   margin-bottom:1rem;
   line-height: 0.5;
}
.section-heading span{
    color:var(--primary);
}
.section-heading + p{
   color:var(--ternary);
   font-family:'Lato', sans-serif;
   margin-bottom:6rem;
    text-align: center;
}
section.services{
    background:var(--light);
 
}
section.services .card-wrapper{
    display:grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap:2rem;
    grid-row-gap:6rem;
    
}
section.services .card-wrapper .card{
    background:var(--pure);
    padding: 1rem 0rem;
    position:relative;
    padding-top:5rem;
    text-align: center;
    transition: all .3s ease;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -ms-transition: all .3s ease;
    -o-transition: all .3s ease;
    
}
section.services .card-wrapper .card img{
    position: absolute;
    top:-3.5rem;
    left:50%;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
}
section.services .card-wrapper .card h2{
    font-weight: 400;
    font-size: 1.2rem;
    margin-bottom:0.5rem;
}
section.services .card-wrapper .card p{
    font-family: 'Lato', sans-serif;
    color:var(--ternary);
    line-height:1.6;
}

section.services .card-wrapper .card:hover{
    background: var(--dark);  
}
section.services .card-wrapper .card:hover h2, section.services .card-wrapper .card:hover p{
    color:var(--pure);
}

section.freelancer{
    text-align: center;
    background:linear-gradient(#565353 ,#000000 );
    color:var(--pure);
    background: -webkit-radial-gradient();
}


section.freelancer h1{
    font-size:3rem;
    /* margin-bottom:0.5rem; */
}
section.freelancer p{
    font-size:1.3rem;
    margin-bottom: 2rem;
    font-family:'Lato', sans-serif;
}

section.reviews .slider .slide img{
    width:100px;
    height:100px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    object-fit:cover;
    margin-bottom:2rem;
}

section.reviews .slider .slide{
    text-align: center;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding:0 10rem;

}
section.reviews .slider .slide p{
    font-family: 'Lato', sans-serif;
    color:var(--ternary);
    margin-bottom: 1rem;
}
section.reviews .slider .slide span{
    font-size: 0.8rem;
}
section.reviews .slider-dots .dots{
    list-style-type:none;
    display:flex!important;
    justify-content: center;
}
section.reviews .slider-dots{
    margin-top:3rem;
}

section.reviews .slider-dots button{
    font-size:0;
    width:8px;
    height:5px;
    margin-right:0.3rem;
    border: none;
    outline:none;
    background:var(--ternary);
    border-radius: 50px;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    -ms-border-radius: 50px;
    -o-border-radius: 50px;
    cursor: pointer;
}
section.reviews .dots li.slick-active button{
    background:var(--primary);
    width:20px;
}

section.work{
    background:var(--light);
}
section.work .card-wrapper{
    display:grid;
    grid-template-columns:repeat(3,1fr);
    grid-gap:2rem;
}
section.work .card-wrapper .card{
    position:relative;
    height:250px;

}
section.work .card-wrapper .card .overlay{
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    background:rgba(35, 37, 37, 0.9);
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction:column;
    color:var(--light);
    opacity:0;
    transition:all .3s ease;
    -webkit-transition:all .3s ease;
    -moz-transition:all .3s ease;
    -ms-transition:all .3s ease;
    -o-transition:all .3s ease;
}
section.work .card-wrapper .card:hover .overlay{
    opacity:1;
}
.card-wrapper>div{
    margin-bottom: 30px;

}
.card-wrapper{
    margin-bottom: -30px;
}

section.work .card-wrapper .card .overlay a{
    color:var(--secondary);
    text-decoration: none;
}
section.work .card-wrapper .card img{
    height:100%;
    width:100%;
}

section.blog{
    background:var(--dark);
   
    padding-bottom:12rem;
}
section.blog .section-heading{
    color:var(--pure);
}
section.blog .card-wrapper{
    display:grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap:3rem;
}
section.blog .card-wrapper .card{
    background:var(--pure);
}
section.blog .card-wrapper .card .img-wrapper img{
    width:100%;
    height:100%;
    object-fit: cover;
}
section.blog .card-wrapper .card .card-content{
    padding:1rem;
    padding-left:2rem;
    padding-right:2rem;
}
section.blog .card-wrapper .card .card-content h1{
    font-size:1rem;
    font-weight:600;
}
section.blog .card-wrapper .card .card-content a{
    color:var(--secondary);
    text-decoration: none;
}
section.blog .card-wrapper .card .card-content a:hover{
    color:var(--primary);
}
section.blog .card-wrapper .card .card-content span{
   color:var(--ternary);
   font-size:0.8rem; 
}
section.blog .card-wrapper .card .card-content p{
    font-family:'Lato', sans-serif;
    color:var(--ternary);
    margin-top:1rem;
    margin-bottom:1rem;
}
section.blog .card-wrapper .card .card-content a.read-more{
    font-size:0.8rem;
}

section.contact .card-wrapper{
    display:grid;
    grid-template-columns: repeat(3,1fr);
    grid-gap:3rem;
}
section.contact .card-wrapper .card{
    text-align: center;
}
section.contact .card-wrapper .card img{
    margin-bottom: 1rem;
    width: 10%;
}
section.contact .card-wrapper .card h1{
    font-weight:400;
    margin-bottom:1rem;
}
section.contact .card-wrapper .card h6{
    font-size:1rem;
    color:var(--ternary);
    font-weight:400;
    margin-bottom:6rem;
}

section.contact .input-wrap{
    display:grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap:2rem;
    margin-bottom:2rem;
}
section.contact .input-wrap-2{
    display: flex;
    flex-direction: column;
}
section.contact .input-wrap-2 input{
    margin-bottom:2rem;
}
section.contact input{
    padding:0.5rem;
    border:1px solid var(--light);
    border-radius: 10px;
    font-size: 0.9rem;
}
section.contact .input-wrap-2 textarea{
    padding:0.5rem;
    border:1px solid var(--light);
    font-size: 0.9rem;
}
section.contact .input-wrap-2 textarea:focus, section.contact input:focus{
    outline:none;  
}
section.contact .btn-wrapper{
    text-align: center;
    margin-top:2rem;
   
}

footer{
    background:var(--dark);
    text-align: center;
    padding:1rem 0;
}
footer .footer-logo{
    margin-bottom:3rem;
    width:150px;
}
footer .footer-socials a{
    margin-right:1rem;
}
footer .footer-socials{
    margin-bottom:3rem;
    margin-right:-1rem;
}
footer .copyright{
    color:var(--ternary);

}


.site-main-wrapper{
    position:relative;
}
.hamberger{
    position:absolute;
    top:40px;
    right:40px;
    z-index:11;
    background:none;
    border:none;
    outline: none;
    cursor: pointer;
    display:none;
}
.hamberger img{
    width:30px;
}
#ss{
    border: 24px solid red;
    position: fixed;
    top:0;
    left:0;
    z-index:1001;
    background:var(--light);
    width:100%;
    height:100%;
    padding:2rem;
    padding-top:5rem;
    transform: translateX(-100%);
    -webkit-transform: translateX(-100%);
    -moz-transform: translateX(-100%);
    -ms-transform: translateX(-100%);
    -o-transform: translateX(-100%);
    transition:all .5s ease-in-out;
    -webkit-transition:all .5s ease-in-out;
    -moz-transition:all .5s ease-in-out;
    -ms-transition:all .5s ease-in-out;
    -o-transition:all .5s ease-in-out;

}

.open{
    transform:translateX(0);
    -webkit-transform:translateX(0);
    -moz-transform:translateX(0);
    -ms-transform:translateX(0);
    -o-transform:translateX(0);
}
.times{
   position:fixed;
   top:30px;
   right:30px;
   border: none;
   background:none;
   outline:none;
   cursor: pointer; 
}
.times img{
    width:30px;
}



@media (max-width:1024px){
    .mobile-nav{
        display: flex;
    }
    header #main-nav{
        /* display:none; */
        display: flex;
        width: 100%;
    }
    #det{
        display: flex;
        width: 20%;
        /* border: 2px solid red; */
       
    }
    .hamberger{
        display: block;
    }
    .hero .left img{
        width:260px;
    }
    .hero .right h1{
        font-size: 3rem;
    }
    .hero{
        padding-top:10rem;
    }
  
    section.about .about-me-img{
        height: 360px;
    }
    section.services .card-wrapper{
        grid-template-columns: repeat(2, 1fr);
    }
    section.work .card-wrapper{
        grid-template-columns: repeat(2,1fr);
    }
    section.blog .card-wrapper{
        grid-template-columns: repeat(1, 1fr);
    }
   
}

@media (max-width:576px){
    .hero{
        flex-direction: column;
    }
    #qq{
        display: grid;
        /* grid-template-columns: repeat(1,1fr); */
       
    }
   
    .hero .right{
        position: absolute;
        top:260px;
        padding:0 1rem;
        
        /* background:linear-gradient(rgba(0,0,0,0), rgba(0,0,0,0.9)); */
    }
    .hero .left{
        margin-top:-5rem;
        margin-right: -9rem;
        padding-bottom:4rem;
        
    }
    #ri h1{
       font-size: 16px;
    }
    #ri div{
        /* width: 1px; */
        font-size: 10px;
    }
    #qq1{
        margin-top: 14px;
    }
    .about-inner-wrap{
        flex-direction: column;
    }
    .about .right{
        text-align: center;
        margin-top:2rem;
    }
    .about .right .social{
        justify-content: center;
    }
    section{
        padding: 4rem 0;
    }
    section.services .card-wrapper{
        grid-template-columns: repeat(1, 1fr);
        margin-top:6rem;
    }
    section.freelancer h1{
        line-height:1.2;
    }
    section.freelancer{
        
        padding-bottom: 8rem;
    }
    section.reviews .slider .slide{
        padding:0;
    }
    .section-heading + p{
        margin-bottom: 3rem;
    }
    section.work .card-wrapper{
        grid-template-columns: repeat(1,1fr);
    }
    section.contact .card-wrapper{
        grid-template-columns: repeat(1,1fr);
    }
    section.contact .input-wrap{
        grid-template-columns: repeat(1, 1fr);
    }
    #mai-nav{
        width: 30%;
        /* border: 2px solid red; */
    }
    #det{
        width: 30%;
        /* border: 2px solid red; */
        /* margin-left: -80px; */
    }
    #det a{
         font-size: 10px;
         /* border: 2px solid red; */
    }
    nav{
        /* border: 2px solid red; */
        
    }
    .branding{
        display: none;
    }
     #bt{
        display:none ;
    }
}
.MyName{
    position: relative;
    font-size: 25px;
    color: #161616 ;
    -webkit-text-stroke: 0.2px rgb(127, 133, 133);
    /* margin-top: 180px; */
    /* text-transform: uppercase; */
}
.MyName::before{
    content: attr(date-text);
    position: absolute;
    left: 0;
    width: auto;
    height: 100%;
    color: #3dcfd3;
    -webkit-text-stroke: 0vw rgb(238, 12, 12);
    border-right:2px solid rgb(11, 11, 11) ;
    overflow:  hidden;
    animation: animate 6s linear infinite;

}
@keyframes animate{

    0%,10%,100%{
        width: 0;
    }
    70%,90%{
        width: 100%;
    }
}
#home:hover,#ab:hover,#se:hover, #wo:hover, #bl:hover{
    border: 1px solid #3dcfd3;
    color: #3dcfd3;
    font-size: 20px;
    
}

.hero{
    margin-top: 50px;
}
.blu{
    background: none;
    /* padding: 20px; */
    /* border-radius: 50px; */
}
.about-me-img:hover{
    /* box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset, rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset, rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px; */
    /* border-radius: 50%; */
    
}
.slide img{
    border: 1px solid rgb(11, 11, 11);
}
.freelancer{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    /* grid-template-rows: auto; */
    height: auto;
}
.freelancer div{
    width: 70%;
    margin: auto;
    margin-bottom: 7px;
}
.freelancer div:hover{
    color: #3DCFD3;
}
.slider{
    margin-top: -70px;
}

.overlay p{
    font-size: 11px;
    /* padding: 0 12px 0 12px; */
    row-gap: 2px;
}
.imgss{
    /* margin: auto; */
    /* border: 2px solid rgb(10, 8, 8); */
    width: 15%;
    display: flex;

}
 
.imgss img{
    /* height: 10px; */
    /* border: 1px solid red; */
    padding-right: 10px
}
    
.overlay{
    margin: auto;
}
.d{
    /* border: 2px solid red; */
    margin: auto;
    justify-content: center;
    align-items: center;
    padding: 10px 18px;
}
.demobtn{
    margin: auto;
    /* border: 1px solid red; */
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 12px;
    color: white;
}
.demobtn button{
    padding: 8px 19px ;
    background: none;
    border-radius: 10px;
    color:  white;
    border: 4px solid rgb(250, 248, 248);
}
.demobtn button:hover{
    color: #070606;
    background-color: white;
}
.MyName{
    margin-top: 10px;
}
.branding img{
    width: 80px;
}
.aa{
    color: white;
}
.prName{
    text-align: center;
    text-underline-offset: 3px ;
}
#mai-nav{
    position: fixed;
    width: 100%;
    top: 0;
    right: 0;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: var(--bg-color);
    padding: 13px 10%;
    transition: 0.2s;
    box-shadow: -3px -3px 7px #ffffff73,
      2px 2px 5px rgba(94, 104, 121, 0.288);
}


  header #cont{
    /* border: 2px solid rgb(228, 225, 225); */
    width: 63%;
    margin: auto;
    margin-top: 180px;
 }
 header{
   
    width: 100%;
    border: 0.01px solid 
    #161616;

 }
 #main-nav{
    position: fixed;
    /* background-color: red; */
    /* border: 2px solid white; */
    position: fixed;
    width: 100%;
    top: 0;
    right: 0;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: 
    #161616;
    padding: 13px 10%;
    transition: 0.2s;
    box-shadow: -3px -3px 7px #ffffff73,
      2px 2px 5px rgba(94, 104, 121, 0.288);
 }
 #iw{
    border-radius: 50%;
    /* box-shadow: rgba(233, 229, 229, 0.35) 0px -190px 136px -128px inset; */
    box-shadow: rgba(27, 7, 244, 0.195) 0px -23px 25px 0px inset, rgba(31, 3, 245, 0.14) 0px -36px 30px 0px inset, 
    rgba(76, 5, 254, 0.193) 0px -79px 40px 0px inset,
     rgba(55, 4, 238, 0.181) 0px 2px 1px, 
     rgba(78, 6, 246, 0.392) 0px 4px 2px,
      rgba(0, 0, 0, 0.09) 0px 8px 4px, 
      rgba(6, 38, 219, 0.253) 0px 16px 8px,
       rgba(239, 236, 236, 0.06) 0px 32px 16px;
 }
 .card{
    margin-bottom: 90px;

 }
 #sd{
    margin-bottom: -90px;
 }
 #form input{
    border: 1px solid rgba(12, 12, 12, 0.158);
    
 }
 #form textarea{
    border: 1px solid rgba(12, 12, 12, 0.158);
 }
#bt{
    border-radius: 10px;
}
#btnnn{
    border-radius: 190px;
}
#send{
    border-radius: 50px;
}